.vagrant
.DS_Store

wp-local-server/wordpress/*
wp-local-server/.htaccess
wp-local-server/index.html
wp-local-server/er/*

/boxes
#/cookbooks

# Bundler
bin/*
.bundle/*

/vendor

.kitchen/
.kitchen.local.yml
