<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
	<title>no title</title>
	<link rel="stylesheet" href="" type="text/css" />
</head>
<body>
	<p>Hello world!<br> This server is created by <%= node['owner']['name'] %>.</p>
	<p>link - <a href="wordpress">wordpress site</a></p>
	<script></script>
</body>
</html>